@using System.Diagnostics.CodeAnalysis
@using ScrumAble.Areas.Identity.Data
@attribute [ExcludeFromCodeCoverage]
<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScrumAble</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/js/BS5/bootstrap-5.0.1/site/content/docs/5.0/examples/sidebars/sidebars.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body style="height: 100%; margin-bottom: 0px;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container" style="margin-left: 0px; margin-right: 0px; max-width: 5000px">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/scrumableLogo.png" width="120" height="40" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>


    <div style="display: flex; height: 100%; margin-top: -73px; padding-top: 57px;">
        @Html.Partial("_LeftControlsPartial.cshtml", (ScrumAbleUser)ViewBag.User)
        <!--<partial name="_LeftControlsPartial.cshtml" view-data="ViewData" />-->
        <div class="container" style="margin-left: 0px; overflow: auto;">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/BS5/sidebars.js"></script>
    <script src="~/js/BS5/bootstrap-5.0.1/site/content/docs/5.0/examples/sidebars/sidebars.js"></script>
    <script src="~/js/BS5/bootstrap-5.0.1/js/dist/collapse.js"></script>
    <script src="~/js/BS5/bootstrap-5.0.1/dist/js/bootstrap.js"></script>
    @await RenderSectionAsync("Scripts", required: false)



</body>
</html>
