@using System.Diagnostics.CodeAnalysis
@attribute [ExcludeFromCodeCoverage]
@{
    ViewData["Title"] = "Release Not Found";
}

<div class="text-center">
    <h1 class="display-4">Release not found.</h1>

    <p>Something went wrong and the release you are looking for does not exist.</p>
</div>